@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Downloads";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MediaElements[0].season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaElements[0].episode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaElements[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaElements[0].last_modified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaElements[0].stream_url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MediaElements)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.episode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_modified)
            </td>
            <td>
                <a href=@item.stream_url>Direct Link to File</a>
            </td>
            <td>
                <a asp-page="./Downloads" asp-route-season=@item.season asp-route-episode=@item.episode asp-route-title=@item.title asp-route-url=@item.stream_url>Download</a>
            </td>
        </tr>
        }
    </tbody>
</table>